/* ==== Main page css ==== */
body {
	background-color: #FFF;
	margin: 0;
	padding: 0;

}

#container {
	width: 800px;
	margin: 0 auto;
	background:  #6599FF url(../assets/banner.gif) no-repeat;
	border: 1px solid;

}

/* ==== Header CSS ==== */
#header {
	height: 110px;
	position: relative; /* Rubrick 2.d */

}
#container #header #menu {
	position: absolute; /* Rubrick 2.c */
	left: 650px;
	top: 0;
}

#menu a:link, #menu a:visited {
	height: 29px;
	width: 100px;
	display: block;
	text-indent: -500em;
	background: url(../assets/bg.gif) no-repeat left top;
	border: none;
}

#menu a:hover, a:active {
	background-position: left bottom;
}

#container #mainMenu {
	position: absolute;
	left: 25px;
	bottom: 0;
}
#mainMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mainMenu li {
	float: left;
	margin: 0;
	padding: 0;
}

#mainMenu a:link, #mainMenu a:visited {
	font-family: "helvetica Neue", sans-serif;
	display: block;
	color: #097054;
	text-decoration: none;
	padding: 0 15px 0 30px;
	margin-right: 10px;
	line-height: 25px;
	border: none;
	background: #000 url(../assets/menu.gif) no-repeat left top;
}

#mainMenu a:hover, #mainMenu a:active { /* Rubrick 2.e */ 
	font-family: "helvetica Neue", sans-serif;
	display: block;
	color: #097054;
	text-decoration: none;
	padding: 0 15px 0 30px;
	margin-right: 10px;
	line-height: 25px;
	border: none;
	background: #000 url(../assets/menu.gif) no-repeat left bottom; /* Rubrick 2.f */ 
}

#mainMenu li a.current {
	margin-top: -5px;
	height: 30px;
	line-height: 25px;
	background: #FF9900 url(../assets/current.gif) left bottom no-repeat;
}

#mainContent table {
	width: 100%;
	font-family: Georgia, sans-serif;
}
/* ==== mainContent content==== */
#content div#mainContent {
	width: 500px;
	float: left;  /*Rubrick 2b */
	padding:0 100px 0 10px;
	padding: 0 15px;
}

#mainContent h2{
	color:#097054;
	font-family: Georgia, sans-serif;
	font-size: 1.5em;
}

#mainContent h3{
	color:#097054;
	font-family: Georgia, sans-serif;
}

#mainContent h4 {
	padding: 0;
	margin: 0;
}
#mainContent p	{
	font-family: Georgia, sans-serif;
	margin: 0;
	padding: 0;
}
#mainContent img {
	margin: 0 10px 0 0; 
	float: left;
} 

#mainContent ul {
	list-style: none;
	margin-left: -25px;
}

#mainContent ol {
	font-family: Georgia, sans-serif;
}

/* ==== Sidebar content==== */
#container div#sidebar {
	width: 200px;
	float: left;
	padding:0 10px 0 10px;
	margin: 0;
}

#sidebar h3 {
	font-family: Georgia, sans-serif;
	font-size: 1em;	
	color:#097054;
}

#sidebar ul {
	list-style: none;
	margin-left: -25px;
}

#sidebar a {
	text-decoration: none;
}
#content {
	background: #6599FF;
}

#sidebar img.sidebarPic {
	width: 120px;
	height: 100px;
	padding: 10px 0 0 0;
}
/* ==== Footer CSS ==== */
#container div#footer {
	width: 800px;
	clear: both;

}
#footer {
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#APA {
	font-family: Georgia, sans-serif;
	font-size: .5em
}


